= form_for @team do |f|
  - if @team.errors.any?
    #error_explanation
      %h2= "#{pluralize(@team.errors.count, "error")} prohibited this team from being saved:"
      %ul
        - @team.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :colour
    = f.text_field :colour
  .field
    = f.label :sort
    = f.number_field :sort
  .field
    = f.label :hashtag
    = f.text_field :hashtag 
  .field
    = f.label :prize_id
    = f.text_field :prize_id
  .actions
    = f.submit 'Save'
