- content_for :facebook_opengraph do
  %meta{property: 'og:url', content: 'http://www.48rails.it'} 
  %meta{property: 'og:title', content: '48rails 2013'} 
  %meta{property: 'og:image', content: image_url('48rails_og.jpg')} 
  %meta{property: 'og:type', content: 'event'}
  %meta{property: 'og:description', content: 'On the occasion of RailsRumble, 48rails gathers the cream of the italian Ruby and Rails community — whom we call the “ninjas” — in the very same place, fulfilling all their practical needs so that they can focus on hacking for 48 hours straight'}
  %meta{property: 'event:start_time', content: '2013-10-19T00:00:00'}
  %meta{property: 'event:end_time', content: '2013-10-20T23:59:59'}
  %meta{property: 'event:location:latitude', content: '45.4070613'}
  %meta{property: 'event:location:longitude', content: '11.8918798'}

%body.rows

  .row.hackathon-title
    %section.row-content
      %h1.row-title<
        = image_tag 'dark_green.png', style: 'bottom: -35px; left: 50px;'
        48rails                                            

  .row.hackathon-description
    %section.row-content
      %article.row-content-single
        %h2.row-title A unique kind of hackathon
        %p 
          The 
          %a{href: 'http://railsrumble.com', target: '_blank'} RailsRumble 
          is the true, unavoidable hacking appointment for every respectable Rails developer all around the world.

        %p
          On this occasion, 48rails gathers the cream of the italian Ruby and Rails community &mdash; whom we call the &ldquo;ninjas&rdquo; &mdash; in the very same place, fulfilling all their practical needs so that they can focus on hacking for 48 hours straight
      
      %article.row-content-single.row-content-bottom
        %div
          %img{src: 'http://maps.googleapis.com/maps/api/staticmap?center=via+Belzoni+146,Padova,IT&markers=color:0x4dba6d%7C45.4070613,11.8918798&zoom=14&size=300x216&sensor=false'}

      %article.row-content-single.row-content-bottom
        %div
          %h4.row-important 
            19&ndash;20 October
            %br/
            via Belzoni 146, Padua
          %ul
            %li Team working place, AC and wifi
            %li Bedrooms
            %li Food, including sushi
            %li Drinks, including craft beer
            %li Snacks (mostly healthy)
            %li Caffeine, in every liquid form
            %li Metrics-based prizes (no faulty jury)

  
 

  .row.hackathon-teams
    %section.row-content

      %article.row-content-single
        %h2.row-title Our teams
        %p 
          We're almost ready to hack with some very fine folks, split in 8 awesome teams.
        %p 
          Ninjas from all over the country are warming up, stretching their fingers and getting ready to drink insane amounts of caffeine.
        %p 
          They're going to compete on creativity, execution and&hellip; (check back soon to see what's in store for them!)

        %p 
          Are you one of them? Let everybody know you're coming! Add this script to your website: 
        %code 
          &lt;script type="text/javascript" 
          src="http://www.48rails.it/
          javascripts/ninjize.js"&gt; 
          &lt;/script&gt; 
          
        %p 
          (See it in action on &nbsp;
          %a{href: 'http://www.programmersinpadua.it', target: '_blank'}> programmersinpadua.it
          )


      %article.row-content-double
        - @teams.each do |team|
          .hackathon-team{style: "background-image: url(#{image_path('pagoda_' + team.colour + '.png')});"}
            %h4.row-important.hackathon-team-name
              =link_to team.name, team_path(team)
            %ul.hackathon-team-members
              - team.ninjas.each do |ninja|
                %li
                  %img{src: ninja.face, class: 'hackathon-face', }
                  - unless ninja.twitter.blank?
                    %a{href: "http://twitter.com/#{ninja.twitter}", target: '_blank'}= ninja.name 
                  - else
                    = ninja.name


  .row.hackathon-prizes
    %section.row-content
      %article.row-content-single
        %h2.row-title Fight for the glory, win prizes
        %p You're going to fight for the glory, but wouldn't like to miss our incredibly geeky prizes.
        %p 
          We got the 
          %a{href: 'https://getpebble.com/', target: '_blank'} Pebble smartwatch
          and the 
          %a{href: 'https://www.leapmotion.com/', target: '_blank'} Leap Motion controller
          just to mention two, and we're adding more as the clock ticks (tweet your suggestions to&nbsp; 
          %a{href: 'http://twitter.com/48rails', target: '_blank'}> 48rails 
          !)

        %p There will be prizes for every participant. Because we like you, that's why.


      %article.row-content-single.hackathon-prizes-image
        = image_tag 'pebble.png'
      %article.row-content-single.hackathon-prizes-image
        = image_tag 'leapmotion.png', style: 'margin-bottom: -50px;' 

    %section.row-content
      %article.row-content-single
        %h3.row-important Metrics
      %article.row-content-double
        %p Juries are faulty! We only let beautiful math to assign prizes at 48rails. We have 3 team metrics and 2 solo metrics. Prizes will be granted to:
        %ul
          %li the team with the highest overall score (1st Prize)
          %li the first ranked teams in each team metric
          %li the first ranked solo in each solo metric

    %section.row-content
      %article.row-content-single
        %h3.row-important Code
        %p We are giving prizes to the best teams based on the quality of their work&hellip;

      %article.row-content-single
        %h4.row-important Load Constancy
        %p Teams are going to produce a big volume of code in a very short amount of time, but this is not a good excuse to indulge in bad programming habits. We expect an almost constant flow of work during the whole length of the hackathon (commit soon, commit often).
      %article.row-content-single      
        %h4.row-important Teamwork
        %p Teams are small (1 to 4 people), so every member needs to earn its place. More, time is wasted whenever more than one work on the same single piece of the software. We expect an equal work distribution, and a clear separation of responsibilities.
      
    %section.row-content
      %article.row-content-single
        %h3.row-important Social
        %p &hellip; on how much influent they are on the social networks&hellip;

      %article.row-content-single      
        %h4.row-important Propaganda
        %p What teams are working on would be worthless if nobody is going to use it, so let's spread the voice aloud! We expect each team to build buzz on facebook and twitter, through the opengraph object and hashtag we assigned them.

      %article.row-content-single
        %b Instructions for:
        %ul
          - @teams.each do |team|
            %li= link_to team.name, team_path(team)

    %section.row-content
      %article.row-content-single
        %h3.row-important Solo
        %p &hellip; and to the most distinguished solos.

      %article.row-content-single
        %h4.row-important Стаханов
        %p Devs in general are known to work a lot at night, so we are looking for the single most nightly one.
      %article.row-content-single
        %h4.row-important #48frag
        %p 
          Geeks love videogames, so we planned a break at a random time for a 48 minutes 
          %a{href: 'http://openarena.ws/', target: '_blank'} OpenArena
          deathmatch to select the most deadly ninja.



  .row.hackathon-social
    %section.row-content
      %article.row-content-single
        -#= debug @tweets
        - @tweets.each do |tweet|
          %p.hackathon-tweet
            %time.hackathon-tweet-date
              = time_ago_in_words tweet.created_at
              ago
            %br/
            = raw tweet.to_html
            %br/
            %a.hackathon-tweet-link{href: "#{tweet.status_url}", target: '_blank'} &#x21bb; retweet 
            %a.hackathon-tweet-link{href: "#{tweet.status_url}", target: '_blank'} &star; favourite

      %article.row-content-single
        - @faces.each do |face|
          %img{src: face[:src], alt: face[:name], class: 'hackathon-face', title: face[:name]}
      %article.row-content-single
        %h2.row-title Ninjas are social, too
        %p We set up a facebook group where you can meet the other Rails ninjas, and maybe find your next teammate:
        %h4.row-important
          %a{href: 'https://www.facebook.com/groups/48rails/', target: '_blank'} Join teambuilding group

        %p 
          And don't forget to 
          %a{href: 'http://twitter.com/48rails', target: '_blank'} follow 48rails 
          on twitter, and tweet with the hashtag
        %h2.row-important 
          %a{href: 'https://twitter.com/intent/tweet?source=webclient&text=Next+19-20+Oct+Rails+ninjas+are+gathering+in+Padua+to+fight+the+RailsRumble.+Join+them%21+http%3A%2F%2Fwww.48rails.it+%2348rails', target: '_blank'} #48rails

  .row.hackathon-sponsors
    %section.row-content
      %article.row-content-triple
        %h2.row-content-single.row-title.hackathon-sponsors-tier 
          Large
          %br>
          sponsors
        %ul.row-content-double
          %li
            %a{href: 'http://www.timerepublik.com/', target: '_blank', title: 'Timerepublik'}
              = image_tag 'logos/timerepublik.png'

          %li.hackathon-sponsors-large
            %a{href: 'http://www.mikamai.com/', target: '_blank', title: 'Mikamai'}
              = image_tag 'logos/mikamai.png'

  
      %article.row-content-triple
        %h3.row-content-single.row-title.hackathon-sponsors-tier medium
        
        %ul.row-content-double
          %li
            %a{href: 'http://github.com/', target: '_blank', title: 'GitHub'}
              = image_tag 'logos/github.png'   
          %li
            %a{href: 'http://pragprog.com/', target: '_blank', title: 'The Pragmatic Bookshelf'}
              = image_tag 'logos/pragprog.png'   
          %li{style: 'clear: left;'}
            %a{href: 'http://aws.amazon.com/', target: '_blank', title: 'Amazon Web Services'}
              = image_tag 'logos/aws.png'                           
  
      %article.row-content-triple
        %h4.row-content-single.row-title.hackathon-sponsors-tier small
        %ul.row-content-double
          %li
            %a{href: 'http://www.seesaw.it/', target: '_blank', title: 'SeeSaw'}
              = image_tag 'logos/seesaw.png'
          %li
            %a{href: 'http://www.dasco.it/', target: '_blank', title: 'DASCO'}
              = image_tag 'logos/dasco.png'
          %li
            %a{href: 'http://www.birrificioantoniano.it/', target: '_blank', title: 'Birrificio Antoniano'}
              = image_tag 'logos/birra-antoniana.png'

  .row.hackathon-be-sponsor
    %section.row-content
      
      %article.row-content-single.row-content-bottom
        %div
          %img{src: 'http://maps.googleapis.com/maps/api/staticmap?center=Piz+Boè&markers=color:0x2c3f51%7C46.5088888,11.8280556&maptype=hybrid&zoom=11&size=300x216&sensor=false'}
          %br/
          = image_tag 'thanking_top_sponsors_2012.jpg'

      %article.row-content-single
        %h2.row-title We &hearts; our sponsors
        %p
          Without the help of our awesome sponsors, it would be impossible to setup an event like this. 
        %p 
          We do our best to give them back visibility, infinite gratitude and&hellip; epicness! 

        %p 
          In addition to the standard stuff (their logo on the website, the t-shirts, the mugs), the top sponsors of ed. 2012 got our thanks from the top of Piz Boè, 3152 m high. And this year we are going far beyond: we'll greet them

        %h3.row-important free falling from an airplane!

      %article.row-content-single.row-content-bottom
        %div
          %a.hackathon-be-sponsor-prospectus{href: 'https://www.dropbox.com/s/t40lmm83k3q0gqq/48rails_2013_sponsorship.pdf', target: '_blank'} Sponsorship prospectus (5,8 MB)


  .row.hackathon-partners-and-organizers
    %section.row-content
      %article.row-content-single.row-content-bottom
        %div
          %h2.row-title Awesome partners, lovely organizers
          %p 48rails is built with the help of many technical, logistic and media partners. 

          %p 
            The hackathon is brought to you by some lovely folks from programmers in padua &mdash; you can reach us at 
            %a{href: 'mailto:ninja@48rails.it'} ninja@48rails.it
      %article.row-content-double
        %ul
          %li.hackathon-partners-and-organizers-square
            %a{href: 'http://rubyitalia.teamartist.com/', target: '_blank', title: 'Associazione Ruby Italia'}
              = image_tag 'logos/ruby-it.jpg'
          %li.hackathon-partners-and-organizers-square
            %a{href: 'http://railsgirls.com/milan', target: '_blank', title: 'Rails Girls'}
              = image_tag 'logos/railsgirls.jpg'
          %li.hackathon-partners-and-organizers-square
            %a{href: 'http://www.whymca.org/', target: '_blank', title: 'WHYMCA'}
              = image_tag 'logos/whymca.jpg'
          %li.hackathon-partners-and-organizers-square
            %a{href: 'http://hackatron.org/', target: '_blank', title: 'Hackatron'}
              = image_tag 'logos/hackatron.jpg'
          %li.hackathon-partners-and-organizers-square
            %a{href: 'http://www.wearemad.it/', target: '_blank', title: 'MAD Studio'}
              = image_tag 'logos/madstudio.jpg'
          %li.hackathon-partners-and-organizers-square
            %a{href: 'http://www.talentgarden.it/', target: '_blank', title: 'Talent Garden'}
              = image_tag 'logos/tag.jpg'
          %li.hackathon-partners-and-organizers-rect
            %a{href: 'http://www.webdebs.org/', target: '_blank', title: 'WEBdeBS'}
              = image_tag 'logos/webdebs.jpg'
          %li.hackathon-partners-and-organizers-rect
            %a{href: 'http://www.digitalmeet.it/', target: '_blank', title: 'Digital Meet'}
              = image_tag 'logos/digital-meet.jpg'
        
        %ul 
        
          %li.hackathon-partners-and-organizers-face
            %a{href: 'http://twitter.com/brigugraphic', target: '_blank', title: '@BriguGraphic'}
              = image_tag 'brigugraphic.png'

          %li.hackathon-partners-and-organizers-face
            %a{href: 'http://twitter.com/ogeidix', target: '_blank', title: '@ogeidix'}
              = image_tag 'ogeidix.png'

          %li.hackathon-partners-and-organizers-face
            %a{href: 'http://twitter.com/pigatss', target: '_blank', title: '@pigatss'}
              = image_tag 'pigatss.png'

          %li.hackathon-partners-and-organizers-face
            %a{href: 'http://twitter.com/realfuzzy', target: '_blank', title: '@realfuzzy'}
              = image_tag 'realfuzzy.png'
          
          %li.hackathon-partners-and-organizers-rect.hackathon-partners-and-organizers-pip
            %a{href: 'http://www.programmersinpadua.it/', target: '_blank', title: 'Programmers in Padua'}
              = image_tag 'logos/programmersinpadua.jpg'

  = render partial: 'footer'

  = render partial: 'discount'